/************************
* Loading Animation, see 
* https://loading.io/css/
*************************/
.loading-ellipsis {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 20px;
    margin: 10px auto;
    opacity: 0.8;
    transition: opacity 0.4s linear;
    .stories-loaded & {
        opacity: 0;
        height: 0;
        width: 0;
        overflow: hidden;
    }
    div {
        position: absolute;
        top: 5px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: $lila;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    div:nth-child(1) {
        left: 6px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    div:nth-child(2) {
        left: 6px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    div:nth-child(3) {
        left: 26px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    div:nth-child(4) {
        left: 45px;
        animation: lds-ellipsis3 0.6s infinite;
    }
}
