.stories {
    .page-slide-in & {
        height: 100vh;
        overflow: hidden;
        position: absolute;
        z-index: 6;
    }
    padding-bottom: $dist-l;
}
.stories-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    padding-bottom: $dist-s;
    padding-top: $dist-m;
}
.stories-nav {
    position: absolute;
    width: auto;
    right: $dist-m;
    top: -30px;
    color: $white;
    span {
        display: inline-block;
        color: $white;
        padding-left: 4px;
        padding-right: 4px;
        transition: color 0.2s linear;
    }
    .stories-unloaded & span {
        color: $yellow;
    }
}
article {
    opacity: 0;
    box-sizing: border-box;
    background-color: $white;
    position: relative;
    transition: all 0.3s linear;
    margin-bottom: $dist-m;
    padding: $dist-m;
    width: calc(100% - 20px);
    margin: $dist-s 10px;
    padding-bottom: $dist-l;
    @media screen and (min-width: 768px) {
        width: calc(50% - 20px);
    }
}
main.stories-unloaded article {
    @include liFromTo();
    animation: disappearLeft 250ms normal backwards ease-in;
}
main.stories-loaded article {
    @include liFromTo();
    animation: appearLeft 250ms normal forwards ease-out;
}
article {
    h2 {
        margin-bottom: $dist-s;  
    }
    .story-url {
        margin-bottom: $dist-s;
        a {
            color: $midgrey;
            word-break: break-all;
            hyphens: auto;
        }
    }
    .story-infos {
        display: block;
        font-size: $small;
        margin: $dist-m 0;
    }
    .story-id {
        font-size: $small;
    }
    .story-index {
        display: block;
        position: absolute;
        left: $dist-m;
        bottom: $dist-m;
        color: $lightgrey;
        font-size: $small;
        font-weight: bold;
        
    }
    .btn-readmore {
        display: block;
        position: absolute;
        bottom: $dist-m;
        right: $dist-m;
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: -26px;
        right: -6px;
        width: 0; 
        height: 0; 
        border-top: 32px solid transparent;
        border-bottom: 32px solid transparent;
        border-left: 32px solid rgba($lightergrey, 1);
        transform: rotate(-45deg);
        z-index: -1;
    }
}
