@import url('https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700&display=swap');

$ft-heading: "Archivo", Helvetica, Arial, sans-serif;
$ft-body: "Open Sans", Helvetica, Arial, sans-serif;

$small: 0.9rem;

body {
    font-family: $ft-body;
    font-weight: 300;
}
#{h(1,6)}{
    font-family: $ft-heading;
    margin-top: 0;
    margin-bottom: $dist-m;  
}
h1 {
    font-size: 42px;
    letter-spacing: 1px;
}
h2 {
    font-size: 26px; 
}
p {
    margin-top: 0;
    margin-bottom: $dist-s;
}