.page {
    position: fixed;
    top:0;
    left: 100%;
    width: 90%;
    height: 100%;
    overflow-y: scroll;
    z-index: 10;
    background: $darkergrey;
    color: $white;
    transition: all 0.2s ease-out;
    .page-slide-in & {
        left: 10%;
    }
}
.close-btn {
    @include hide();
    position: fixed;
    top:0;
    right: 0;
    z-index: 12;
    transition: opacity 0.3s linear;
    .page-slide-in & {
        @include show();
    }
}
article {
    opacity: 0;
    position: relative;
    transition: all 0.1s linear;
}
.stories-wrapper {
    position: relative;
}
main.stories-loaded article {
    @include liFromTo();
    animation: appearLeft 250ms normal forwards ease-out;
}
main.appear-down article {
    @include liFromTo();
    animation: appearDown 250ms normal forwards ease-out;
}
main.appear-up article {
    @include liFromTo();
    animation: appearUp 250ms normal forwards ease-out;
}
@keyframes appearLeft {
    from {opacity: 0; left: -50px;}
    to {opacity: 1; left: 0px;}
}
@keyframes appearRight {
    from {opacity: 0; left: 50px;}
    to {opacity: 1; left: 0px;}
}
@keyframes appearFast {
    from {opacity: 0.6; left: -10px;}
    to {opacity: 1; left: 0px;}
}
@keyframes appearDown {
    from {opacity: 0.2; top: -20px;}
    to {opacity: 1; top: 0px;}
}
@keyframes appearUp {
    from {opacity: 0; top: 10px;}
    to {opacity: 1; top: 0px;}
}